<ion-header>
  <ion-toolbar>
    <ion-title>对话框</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>alert</h3>
  <ion-button (click)="alert()">提示信息</ion-button>
  <pre>dialogService.alert('提示信息');</pre>

  <h3>confirm</h3>
  <ion-button (click)="confirm()">询问信息</ion-button>
  <pre>const ret = await dialogService.confirm('是否xxx吗?');
dialogService.alert(ret);</pre>

  <h3>danger</h3>
  <ion-button (click)="danger()">警告信息</ion-button>
  <pre>const ret = await dialogService.danger('确认删除吗?');
dialogService.alert(ret);</pre>

  <h3>toast</h3>
  <ion-button (click)="toast()">提示</ion-button>
  <pre>dialogService.toast('提示');</pre>
</ion-content>